@import 'styles/base/mixins';
@import 'styles/base/variables';
@import 'styles/base/extends';

.form {
  width: 100%;
  background: $secondary-background-color;
  box-shadow: $default-box-shadow;
  border-radius: $large-border-radius;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;

  &:hover {
    box-shadow: $hover-box-shadow;
  }

  &_wrapper {
    @include flex-constructor($direction: column, $justify: center);
    padding: 40px 52px 60px;

    @media screen and (max-width: 1024px) {
      padding: 48px 45px 60px;
    }

    @media screen and (max-width: 500px) {
      padding: 30px 14px 40px;
    }
  }

  &_header {
    @include flex-constructor($direction: column, $justify: center, $gap: 10px);
    padding-bottom: 8px;

    @media screen and (max-width: 1024px) {
      padding-bottom: 5px;
      gap: 5px;
    }

    @media screen and (max-width: 500px) {
      gap: 0px;
    }
  }

  &_title {
    @include desktop-h2-text($color: $main-text-color);
    text-align: center;

    @media screen and (max-width: 1024px) {
      @include tablet-h2-text($color: $main-text-color);
    }

    @media screen and (max-width: 376px) {
      @include mobile-h2-text($color: $main-text-color);
    }
  }

  &_subtitle {
    @extend %desktop-p-text;
    text-align: center;
  }
}
