@import 'styles/base/variables';

.map {
  border: $accent-border;
  width: 349px;
  height: 159px;

  @media screen and (max-width: 1024px) {
    width: 350px;
    height: 161px;
  }

  @media screen and (max-width: 730px) {
    width: 303px;
    height: 159px;
  }
}
