@import 'styles/base/mixins';
@import 'styles/base/variables';
@import 'styles/base/extends';

.feedback {
  @include flex-constructor($direction: column, $align: flex-start, $justify: normal, $gap: 75px);

  @media screen and (max-width: 376px) {
    gap: 50px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 60px;
      width: 100%;
    }

    @media screen and (max-width: 376px) {
      gap: 40px;
    }
  }

  &__title {
    @include desktop-h2-text($color: $main-text-color);
    @extend %title-decoration;

    @media screen and (max-width: 1024px) {
      @include tablet-h2-text($color: $main-text-color);
    }
  }
}
