@import 'styles/base/variables';
@import 'styles/base/mixins';

.header {
  padding: 17px 0;
  @include flex-constructor;

  @media screen and (min-width: 1321px) {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1025px) and (max-width: 1320px) {
    @include wrapper-constructor;
    max-width: 100%;
  }

  @media screen and (min-width: 881px) and (max-width: 1024px) {
    max-width: 792px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 377px) and (max-width: 880px) {
    @include wrapper-constructor;
  }

  @media screen and (max-width: 376px) {
    max-width: 303px;
    width: 100%;
    margin: 0 auto;
  }
}
