@import 'styles/base/variables';
@import 'styles/base/mixins';

.social__link {
  @include flex-constructor($direction: column, $justify: center);
  padding: 5px;
  background: $accent-color;
  border-radius: $main-border-radius;
  width: 40px;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;

  &:hover {
    background: $accent-color-hover;
  }

  @media screen and (max-width: 1024px) {
    padding: 10px;
    width: 50px;
    height: 50px;
  }
}
