@mixin wrapper-constructor($margin-vertical: 0, $margin-horizontal: 5%) {
  margin: $margin-vertical $margin-horizontal;
}

@mixin flex-constructor($display: flex, $direction: row, $justify: space-between, $align: center, $gap: 0) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin desktop-h1-text($color: $main-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $extreme-bold;
  font-size: $font-size-desktop-h1;
  line-height: $line-height-h1;
  color: $color;
}

@mixin tablet-h1-text($color: $main-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $extreme-bold;
  font-size: $font-size-tablet-h1;
  line-height: $line-height-h1-tablet;
  color: $color;
}

@mixin mobile-h1-text($color: $main-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $semi-bold;
  font-size: $font-size-mobile-h1;
  line-height: $line-height-h1-mobile;
  color: $color;
}

@mixin desktop-h2-text($color: $accent-color) {
  color: $color;
  font-family: $main-font;
  font-size: $font-size-desktop-h2;
  font-weight: $medium-bold;
  font-style: $text-style;
  line-height: $line-height-h2;
}

@mixin tablet-h2-text($color: $accent-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $medium-bold;
  font-size: $font-size-tablet-h2;
  line-height: $line-height-h2-tablet;
  color: $color;
}

@mixin mobile-h2-text($color: $accent-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $medium-bold;
  font-size: $font-size-mobile-h2;
  line-height: $line-height-h2-mobile;
  color: $color;
}

@mixin desktop-h3-text-colorful($color: $secondary-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $semi-bold;
  font-size: $font-size-desktop-h3;
  line-height: $line-height-large;
  color: $color;
}

@mixin tablet-h3-text-colorful($color: $secondary-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $semi-bold;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  color: $color;
}

@mixin mobile-h3-text-colorful($color: $secondary-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $semi-bold;
  font-size: $font-size-small;
  line-height: $line-height-small;
  color: $color;
}

@mixin desktop-h4-text($color: $secondary-text-color, $fontWeight: $regular-bold) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $fontWeight;
  font-size: $font-size-desktop-h4;
  line-height: $line-height-medium;
  color: $color;
}

@mixin tablet-h4-text($color: $secondary-text-color, $fontWeight: $regular-bold) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $fontWeight;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  color: $color;
}

@mixin mobile-h4-text($color: $secondary-text-color, $fontWeight: $regular-bold) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $fontWeight;
  font-size: $font-size-small;
  line-height: $line-height-small;
  color: $color;
}

@mixin desktop-p-text-colorful($color: $main-text-color) {
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $regular-bold;
  font-size: $font-size-desktop-p;
  line-height: $line-height-medium;
  color: $color;
}

@mixin tablet-p-text-colorful($color: $main-text-color) {
  font-family: $main-font;
  font-size: $font-size-small;
  font-weight: $regular-bold;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $color;
}

@mixin mobile-p-text-colorful($color: $main-text-color) {
  font-family: $main-font;
  font-size: $font-size-small;
  font-weight: $regular-bold;
  font-size: $font-size-extra-small;
  line-height: $line-height-small;
  color: $color;
}

@mixin image-wrapper($width: auto, $height: auto) {
  max-height: $height;
  max-width: $width;
}

@mixin link-constructor($color: $button-text-color, $background: $accent-color, $border: none) {
  background: $background;
  border: $border;
  border-radius: $main-border-radius;
  font-family: $main-font;
  font-style: $text-style;
  font-weight: $semi-bold;
  line-height: $line-height-medium;
  color: $color;
  transition: $main-transition-effect;
  -moz-transition: $main-transition-effect;
  -webkit-transition: $main-transition-effect;
  -o-transition: $main-transition-effect;
}
